.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  background-color: rgb(71, 107, 179);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:Arial;
  text-align: center;
  color: black;
  border-radius: 1em;
}

.App-link {
  color: #61dafb;
}

body {
  background: rgb(116, 151, 221, 0.7);  
}

.images{
  --gap: 20px; 
  --num-cols: 3;
  --row-height: 500 px; 
  box-sizing: border-box; 
  padding: var(--gap); 
  display: grid; 
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  border-radius: 1em;
}

.images > img {
  width: 100%;
  height: 100%; 
}
/*
h1 {
  color: whitesmoke;
  background-color:rbga(47, 79, 79, 1);
  text-align: center;
  font-family: Arial;
}
/*
h2 {
  color: whitesmoke;
  background-color:rbga(47, 79, 79, 1);
  text-align: center;
  font-family:Arial;
}
*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
